/* Style for Menu  */
.MenuBase {
    position: fixed; 
    left: 10px;
    top: 10px;
    padding: 10px;
    z-index: 10;
    background-color: var(--base_color3);
    border-radius: 30px;
}
.MenuText {
    z-index: 2;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s;	
}
.MenuText:hover {
    color: var(--highlight_color);
    transition: all 0.3s;	
}


.nameContainer {
    position: absolute;
    left: 7vw;
    top: 10vw;
    z-index: 2;
}
/* Style for line decoration */
.lineDeco {
    width: 10vw; 
    height: .3vw;
    background-color: var(--highlight_color);
}
/* Style for name  */
.nameText {
    font-size: 7vw;
    font-family: Poppins;
    color: var(--text_color1);
}



/* Style for Bal Image */
.balImage {
    position: absolute;
    width: 42vw;
    right: 5vw;
    bottom: 0;
}



/* Style for introduction  */
.introContainer {
    position: absolute;
    left: 7vw;
    top: 25vw;
    width: 45vw;
}



/* When screen width 60px and less */
@media screen and (max-width: 1200px) {

    /* Style for Bal Image */
    .MenuBase {
        visibility: collapse;
    }
}

/* When screen width 60px and less */
@media screen and (max-width: 600px) {

    /* Style for Bal Image */
    .baseBox {
        height: 860px;
    }

    /* Style for Bal Image */
    .balImage {
        width: 450px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        overflow-x: hidden;
        margin: auto;
    }


    .nameContainer {
        top: 90px;
    }
    .nameText {
        width: 100%;
        font-size: 45px;
    }
    .lineDeco {
        width: 50px; 
        height: 2px;
    }


    .introContainer {
        width: 70vw;
        left: 7vw;
        top: 200px;
    }
}

@media screen and (max-width: 320px) {

    .balImage {
        width: 100vw;
    }
}
