/* Style for Menu  */
.MenuBase {
    position: fixed; 
    left: 10px;
    top: 10px;
    padding: 10px;
    z-index: 10;
    background-color: var(--base_color3);
    border-radius: 30px;
}
.MenuText {
    z-index: 2;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s;	
}
.MenuText:hover {
    color: var(--highlight_color);
    transition: all 0.3s;	
}


.nameContainer {
    position: absolute;
    left: 7vw;
    top: 25vw;
    z-index: 2;
}
/* Style for line decoration */
.lineDeco {
    width: 10vw; 
    height: .3vw;
    background-color: var(--highlight_color);
}
/* Style for name  */
.nameText {
    width: 28vw;
    font-size: 6vw;
    color: var(--text_color1);
}



/* Style for Bal Image */
.balImage {
    position: absolute;
    width: 42vw;
    left: 27vw;
    bottom: 0;
}



/* Style for introduction  */
.introContainer {
    position: absolute;
    right: 7vw;
    top: 8vw;
    width: 31vw;
}
.intro1Text {
    z-index: 2;
    font-size: 1.7vw;
    color: var(--text_color1);
    margin-bottom: .7vw;
}
.intro2Text {
    z-index: 2;
    font-size: 2vw;
    margin-bottom: 1.5vw;
}
.intro3Text {
    z-index: 2;
    font-family: DREPHONIC;
    font-size: 1.7vw;
    color: var(--text_color2)
}


/* When screen width 60px and less */
@media screen and (max-width: 1200px) {

    /* Style for Bal Image */
    .MenuBase {
        visibility: collapse;
    }
}

/* When screen width 60px and less */
@media screen and (max-width: 600px) {

    /* Style for Bal Image */
    .baseBox {
        height: 610px;
    }

    /* Style for Bal Image */
    .balImage {
        width: 320px;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        overflow-x: clip;
        margin: auto;
    }


    .nameContainer {
        top: 50px;
    }
    .nameText {
        width: auto;
        font-size: 30px;
    }
    .lineDeco {
        width: 50px; 
        height: 2px;
    }


    .introContainer {
        width: 70vw;
        left: 7vw;
        top: 150px;
    }
    .intro1Text {
        font-size: 12px;
        margin-bottom: 1vw;
    }
    .intro2Text {
        font-size: 15px;
        margin-bottom: 2vw;
    }
    .intro3Text {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {

    .balImage {
        width: 100vw;
    }
}
