html {
    /* For smmoth scrolling effect */
    scroll-behavior: smooth;
}
body {
    background-color:rgb(158, 158, 158);
}
body * {
    /* Visualize element border for debugging */
    /* border: .1vw solid greenyellow; */
}

/* Variables */
:root {
    --highlight_color:rgb(255, 14, 46);
    --base_color1: rgb(34, 34, 36);
    --base_color2: rgb(21, 21, 23);
    --base_color3: rgb(41, 41, 46);
    --text_color1: rgb(227, 227, 255);
    --text_color2: rgb(153, 153, 181);
}





/* Different Font types */
@font-face {
    font-family: Poppins;
    src: url(Font/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Rajdhani;
    src: url(Font/Rajdhani-Regular.ttf);
}





/* Text Style */
t1 {
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    font-family: Poppins;
    color: var(--text_color1);
    margin-bottom: .5vw;
}
t2 {
    display: inline-block;
    font-size: 2vw;
    font-family: Poppins;
    color: var(--text_color1);
    margin-bottom: 1vw;
}
t3 {
    display: inline-block;
    font-size: 1.5vw;
    font-family: Rajdhani;
    color: var(--text_color2);
    margin-bottom: .5vw;
}
/* Text highlight */
hl {
    color:var(--highlight_color)
}

/* Data table padding */
td {
    padding: 2px 30px;
}





/* Properties for each container box */
* {
    margin: 0;
    padding: 0;
}
.baseBox {
    position: relative;
    padding: 2vw;
    height: 44vw;
    background-color: var(--base_color1)
}





/* Display text for debug */
#debug {
    position: fixed; 
    right: 0vw; 
    text-align: right; 
    z-index: 90;
}





@media screen and (max-width: 600px) {
    t1 {
        font-size: 25px;
        margin-bottom: 3px;
    }
    t2 {
        font-size: 20px;
        margin-bottom: 7px;
    }
    t3 {
        font-size: 15px;
    }
}
